<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DotNetRemoting.Properties.Settings.MyProductConnectionString"
        connectionString="Data Source=DESKTOP-44IVQTG\KA3KAPI4;Initial Catalog=MyProduct;Integrated Security=True"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>