$margin: 20px;
$change_color: back_col;

body{
	@if $change_color == lol{
		background-color:red;
		margin: $margin/4,$margin/4;
	}@else if $change_color == back_col{
		background-color:#FFE4C4;
		margin: $margin/4,$margin/4;
	}@else if $change_color == any_col
	{
		background-color:green;
		margin: $margin/4,$margin/4;
	}
	
}
$Indigo: #4B0082;
$fontSize:30px;
$size:300px;
$blue:#0000FF;
$Lime:#00FF00;
#head_title{
	font-style: normal;
	font-family: 'Broadway';
	font-size: $fontSize*1.5;
	color:$Indigo;
	text-align: center;
}
#header
{
	margin-left: $margin*4;
	font-style: normal;
	font-family: 'Comic Sans MS';
	font-size:$fontSize/1.5; 
	max-width:$size*1.25;
	max-height: $size*1.5;
	color:$blue;
	display:inline-block;

}
#main_img{
	margin:$margin/2,$margin*2;
	display:inline-block;
	img{
		margin-left: $margin*5;
		max-width: $size*2.5;
		max-height: $size*1.25;
		border:4px solid red;
	}
}
@mixin head_properties{
	margin-top: $margin;
	font-style: normal;
	font-family: 'Engravers MT';
	font-size: $fontSize;
	color:$Lime;
	text-align: center;
}
#biography_head{
	@include head_properties;
}
@mixin text_properties{
	margin-left: $margin*2;
	margin-right: $margin;
	margin-top: $margin;
	margin-bottom: $margin/2;
	font-style: normal;
	font-family: 'AR CENA';
	font-size:$fontSize/1.5; 
}
#biography_inf{
	@include text_properties;
	max-width:100%;
	max-height: $size;
	color:black;
	text-align: justify;
	
}
@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
	border-radius: $radius;
}
#row1{
	margin:$margin,$margin*1.5;
	div{
		margin-top: $margin;
		margin-left: $margin*2;
		max-width: 40%;
		img{
			max-width: 100%;
			@include border-radius(40px);
		}
	}
	div{
		margin-left: $margin*2;
		max-width: 45%;
		display: inline-block;
		img{
			max-width: 100%;
			@include border-radius(80px);
		}
	}
}
#translations_head{
	@include head_properties;
}
#translation_text{
	@include text_properties;
	max-width:40%;
	max-height: $size*1.6;
	color:red;
	text-align: justify;
	overflow: auto;
	display: inline-block;
}
#books {
	margin-left: $margin*2;
	margin-right: $margin/2;
	margin-top: $margin;
	margin-bottom: $margin/2;
	max-width: 40%;
	display: inline-block;
		img{
			padding:$margin;
			max-width: 100%;
			@include border-radius(400px);
		}
}
.bottom{
	color: red;
	font-family: "CANDARA";
	size: $margin;
	font-style: normal;
}
