* {
	margin: 0;
	padding: 0;
	outline: none;
	text-decoration: none;
	list-style: none;
}

@font-face {
    font-family: BlissProRegular;
    src: url(../fonts/BlissPro-Regular.otf);
}
@font-face {
    font-family: BlissProBold;
    src: url(../fonts/BlissPro-Bold.otf);
}
@font-face {
    font-family: BlissProHeavy;
    src: url(../fonts/BlissPro-Heavy.otf);
}

html, body {
    font-family: BlissProRegular;
    overflow-x: hidden;
}

h1 {
    font-family: BlissProBold;
    text-align: center;
    margin-bottom: 10px;
    font-size: 36px;
    text-transform: uppercase;
}
h2 {
    text-transform: uppercase;
    width: 50%;
    text-align: center;
    font-family: BlissProRegular;
    font-weight: normal;
}
h3{

}

.flex-container {
    display: flex;
    height: 100%;
}

.holder {
    width: 80%;
    margin: 0 auto;
    height: 100%;
    max-width: 1400px;
}

.btn-wrapper {
    display: flex;
    justify-content: center;
    margin: 30px;
}

.btn {
    background-color: #ffef5e;
    padding: 15px 25px;
    font-family: BlissProBold;
    border-radius: 55px;
    color: #000;
    text-transform: uppercase;
    font-size: 24px;
    -webkit-box-shadow: 0px 0px 0px 15px rgba(255,239,94,0.5);
    -moz-box-shadow: 0px 0px 0px 20px rgba(255,239,94,0.5);
    box-shadow: 0px 0px 0px 15px rgba(255,239,94,0.5);
}
.btn:hover {
    -webkit-box-shadow: 0px 0px 0px 15px rgba(255,239,94,0.3);
    -moz-box-shadow: 0px 0px 0px 20px rgba(255,239,94,0.3);
    box-shadow: 0px 0px 0px 15px rgba(255,239,94,0.3);
}

.logo {
    width: 240px;

}

header {
    background-color: #ffec4c;
    height: 700px;
    background-image: url(../img/sun-bg.png);
    background-repeat: no-repeat;
    background-position: center -210px;
    animation: sunUp 2s ease-out;
    position: relative;
}
@keyframes sunUp {
    from {
        background-position: center 300px;
        }
    to {
        background-position: center -210px;
        }
}
.tu4ka-container {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 40px 15%;
    box-sizing: border-box;
}
.tu4ka1 {
    position: absolute;
    top: 40px;
    left: 15%;
    animation: tu4ka 3.5s ease-in-out infinite;
}
.tu4ka2 {
    position: absolute;
    top: 105px;
    right: 15%;
    animation: tu4ka 4s ease-in infinite;
}
.tu4ka3 {
    position: absolute;
    bottom: 75px;
    left: 20%;
    animation: tu4ka 5s ease-out infinite;
}
.tu4ka4 {
    position: absolute;
    bottom: 8px;
    right: 20%;
    animation: tu4ka 3.5s ease infinite;
}
@keyframes tu4ka {
    0% {
        transform: translateY(-15px);
        }
    50% {
        transform: translateY(0);
        }
    100% {
        transform: translateY(-15px);
        }
}
header p {
    font-size: 24px;
    text-align: center;
}
header .flex-container  {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    position: absolute;
    width: 100%;
}

article {

}

section p {
    width: 70%;
    margin: 0 auto;
    font-size: 20px;
    margin-top: 30px;
}

section.relcoins {
    background-color: #dadada;
    background-image: url(../img/bg.png);
    background-repeat: no-repeat;
    background-position: center top;
    height: 350px;
    padding-top: 100px;
    text-align: center;
}

section.how-to-take {
    position: relative;
    padding-bottom: 30px;
}
section.how-to-take:before {
    position: absolute;
    content: '';
    width: 106%;
    height: 100px;
    background-color: #fff;
    top: -100px;
    left: -3%;
    border-radius: 50% 50% 0 0 / 100% 100% 0 0;
}

.slider {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 30px;
}
.slide {
    margin: 30px;
}
.slide .img-wrapper {
    position: relative;
    margin-bottom: 30px;
}
.slide .img-wrapper img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    box-shadow: 0px 0px 0px 25px rgba(255, 239, 94, 0.3);
}
.slide .img-wrapper:hover .slide1 {
    box-shadow: 0px 0px 0px 25px rgba(163, 87, 152, 0.5);
}
.slide .img-wrapper:hover .slide2 {
    box-shadow: 0px 0px 0px 25px rgba(59, 148, 208, 0.5);
}
.slide .img-wrapper:hover .slide3 {
    box-shadow: 0px 0px 0px 25px rgba(242, 192, 1, 0.5);
}
.slide .img-wrapper:hover .slide4 {
    box-shadow: 0px 0px 0px 25px rgba(47, 181, 234, 0.5);
}
.slide .img-wrapper:hover img {
    box-shadow: none;
}
.slide .img-wrapper .slide-hover {
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.1s ease-out;
    opacity: 0;
}
.img-wrapper:hover .slide-hover {
    opacity: 1;
}
.slider .arrow {
    cursor: pointer;
    height: 100px;
}
.slider .arrow-prev {
    transform: rotate(-180deg);
}
.slide h1 {
    margin: 0;
}
.slide p {
    width: 100%;
    text-align: center;
}
#seeSlider {
    display: none;
}

section.price-monet {
    background-color: #ffec4c;
    position: relative;
    padding-top: 60px;
}
section.price-monet:after {
    position: absolute;
    content: '';
    width: 106%;
    height: 100px;
    background-color: #ffec4c;
    bottom: -100;
    left: -3%;
    border-radius:  0 0 50% 50% / 0 0 100% 100%;
}
.btn-down {
    background-color: #dadada;
    width: 150px;
    height: 150px;
    margin: 0 auto;
    margin-top: 75px;
    border-radius: 100%;
    box-sizing: border-box;
    box-shadow: 0px 0px 0px 15px rgba(218,218,218,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.1s ease-out;
}
.btn-down .arrow {
    width: 45%;
    height: 45%;
    transform: rotate(45deg);
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
}
.btn-down:hover {
    box-shadow: 0px 0px 0px 15px rgba(218,218,218,0.3);
}

section.table {
    margin-top: 60px;
    text-align: center;
}

table {
    width: 100%;
	border-collapse: collapse;
    margin: 30px 0 2px;
    min-width: 1133px;
}
.table-wrapper {
    margin-bottom: 30px;
}
.table-wrapper::-webkit-scrollbar {
    width:15px;
    height: 15px;
}
.table-wrapper::-webkit-scrollbar-thumb {
    background-color: #ffec4c;
}
.table-wrapper::-webkit-scrollbar-track {
    background-color: #ffface;
    border: 1px solid #ffec4c;
}
thead {
    background-color: #dadada;
    text-transform: uppercase;
}
thead .gold-circle {
	float: right;
	margin-top: -4px;
	margin-left: 5px;
}
tbody tr {
    background-color: #ffface;
}
tbody tr:first-child {
    background-color: #fff;
}
tbody td {
		border: 2px solid #fff;
}
tbody td:first-child {
		padding: 5px;
}
td {
    padding: 15px;
}
td.gold {
    background-color: #ffec4c;
}
td a {
    color: #000;
}
.gold-circle {
	width: 25px;
	height: 25px;
	background-color: #ffed4c;
	border-radius: 100%;
	margin: 0 auto;
	display: flex;
  justify-content: center;
  align-items: center;
	font-family: BlissProBold;
	color: #000;
}
.gold-circle img {
	width: 75%;
	height: 75%;
	text-align: center;
}

img.strelki {
	width: 100%;
    margin-top: 100px;
    margin-bottom: -4px;
}

section.table a {
    color: #000;
	font-size: 19px;
}

section.where {
    background-color: #ffec4c;
    height: 600px;
    padding-top: 50px;
    background-image: url(../img/bg.png);
    background-repeat: no-repeat;
    background-position: center -370px;
    position: relative;
}
section.where .flex-container {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 245px;
    animation: 2s ease-out;
    position: relative;
}
.sun-img {
    background-image: url(../img/sun-bg.png);
}
@keyframes sunUp2 {
    from {
        background-position: center 600px;
        }
    to {
        background-position: center 245px;
        }
}
section.where p {
    margin-top: 0;
}
section.where .btn {
    margin-top: 100px;
}
section.where .tu4ka-container {
    position: static;
    height: auto;
    padding: 0;
}
section.where .tu4ka-container .tu4ka3 {
    bottom: 10px;
    animation: tu4ka 5s ease-in infinite;
}

section.startup {
    text-align: center;
    padding-top: 100px;
}
.atom {
    margin: 40px 0;
    position: relative;
}
.atom img {
    width: 100%;
}
.grey-circle {
    background-color: #dadada;
    animation: atom 1s ease-out infinite;
    border-radius: 100%;
    position: absolute;
    width: 50px;
    height: 50px;
}
@keyframes atom {
    from {
        box-shadow: 0px 0px 0px 15px rgba(218, 218, 218, 0.5);
    }
    to {
        box-shadow: 0px 0px 0px 10px rgba(218, 218, 218, 0.3);
    }
}
.grey-circle:nth-child(7) {
    top: 11%;
    right: 10%;
    width: 60px;
    height: 60px;
    animation-delay: 0.1s;
}
.grey-circle:nth-child(2) {
    top: 59%;
    right: 25%;
    width: 40px;
    height: 40px;
    animation-delay: 0.4s;
}
.grey-circle:nth-child(3) {
    top: 81%;
    right: 8%;
    width: 30px;
    height: 30px;
    animation-delay: 0.2s;
}
.grey-circle:nth-child(4) {
    top: 20%;
    left: 3%;
    width: 40px;
    height: 40px;
    animation-delay: 0.6s;
}
.grey-circle:nth-child(5) {
    top: 34%;
    left: 26%;
    width: 50px;
    height: 50px;
    animation-delay: 0.3s;
}
.grey-circle:nth-child(6) {
    top: 73%;
    left: 33%;
    width: 50px;
    height: 50px;
    animation-delay: 0.5s;
}

section.billion {
    background-color: #dadada;
    background-image: url(../img/bg2.png);
    background-repeat: no-repeat;
    background-position: center;
    padding: 100px 0;
    text-align: center;
}
section.billion {
    font-family: BlissProBold;
    font-size: 24px;
    text-transform: uppercase;
}

section.volonter {
    background-color: #fff;
    position: relative;
    padding-top: 70px;
}
section.volonter p {
    margin-bottom: 60px;
    margin-top: 60px;
    text-align: center;
}
section.volonter:after {
    position: absolute;
    content: '';
    width: 106%;
    height: 100px;
    background-color: #fff;
    bottom: -100;
    left: -3%;
    border-radius: 0 0 50% 50% / 0 0 100% 100%;
    z-index: 999;
}
section.volonter .flex-container {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
section.volonter .flex-container .item {
    margin: 40px;
    width: 200px;
}
section.volonter .flex-container .item .img-wrapper {
    background-color: #ffec4c;
    border-radius: 100%;
    box-shadow: 0px 0px 0px 25px rgba(255, 236, 76, 0.5);
    transition: all 0.1s ease-out;
    width: 100%;
    padding: 40px;
    box-sizing: border-box;
}
section.volonter .item p {
    text-transform: uppercase;
    width: 100%;
    font-size: 25px;
    margin-bottom: 0;
}
section.volonter .flex-container .img-wrapper:hover {
    box-shadow: 0px 0px 0px 30px rgba(255, 236, 76, 0.3);
}
section.volonter .flex-container .img-wrapper img {
    width: 100%;
}

footer {
    background-color: #ffec4c;
    height: 700px;
    background-repeat: no-repeat;
    background-position: center 300px;
    animation: 2s ease-out;
    position: relative;
    padding-top: 100px;
}
footer p {
    font-size: 24px;
    text-align: center;
    width: 70%;
    margin: 0 auto;
}
footer .flex-container  {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: calc(100% - 100px);
    position: absolute;
    width: 100%;
}
@keyframes sunUp3 {
    from {
        background-position: center 700px;
        }
    to {
        background-position: center 300px;
        }
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: none;
}
.popup .flex-container {
    background-image: url(../img/sun-bg.png);
    background-position: center;
    background-size: cover;
    width: 550px;
    height: 550px;
    position: absolute;
    bottom: calc(0% - 275px);
    left: calc(50% - 275px);
}
.popup .flex-container form {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.popup .flex-container form .btn {
    border: 0;
    cursor: pointer;
    padding: 10px;
    font-size: 20px;
    margin-top: 30px;
}
input[type="text"] {
    padding: 10px;
    border-radius: 15px;
    margin: 10px 0;
    border: 2px solid #fff05d;
    box-shadow: 0px 0px 0px 5px rgba(255,239,94,0.3);
    font-size: 16px;
    text-transform: uppercase;
    font-family: BlissProBold;
    text-align: center;
}
.close {
    width: 35px;
    height: 35px;
    background-image: url(../img/icons/close.svg);
    background-size: cover;
    cursor: pointer;
}
.result {
    text-align: center;
    font-size: 30px;
    color: #333;
    display: none;
}
