@media only screen and (max-width : 1270px) {
    .tu4ka1, .tu4ka3 {
        left: 1%;
    }
    .tu4ka2, .tu4ka4 {
        right: 1%;
    }
}

@media only screen and (max-width : 1200px) {
    
}
@media only screen and (max-width : 1133px) {
    .table-wrapper {
        overflow-x: scroll;
    }
}
@media only screen and (max-width : 1023px) {
    .slider p {
        font-size: 18px;
    }
}
@media only screen and (max-width : 900px) {
    .tu4ka-container {
        display: none;
    }
    header {
        background-image: none;
    }
    header .flex-container {
        position: relative;
    }
    header .btn {
        background-color: #fff;
        box-shadow: 0px 0px 0px 15px rgba(255, 255, 255, 0.5);
    }
    header .btn:hover {
        background-color: #fff;
        box-shadow: 0px 0px 0px 15px rgba(255, 255, 255, 0.3);
    }
    section p {
        width: 100%;
    }
    section.how-to-take:before {
        height: 50px;
        top: -50px;
    }
    section.price-monet:after {
        height: 50px;
    }
    .btn-down {
        margin-top: 0;
    }
}
@media only screen and (max-width : 768px) {
    section.where .flex-container {
        background-image: url(../img/sun-bg.png);
    }
    h2 {
        width: 90%;
        margin: 10px 0;
    }
    section.where {
        height: auto;
    }
    section.where p {
        margin: 10px 0;
    }
    footer .btn {
        margin-top: 40px;
        margin-bottom: 40px;
        background-color: #fff;
        box-shadow: 0px 0px 0px 15px rgba(255, 255, 255, 0.5);
    }
    footer .btn:hover {
        box-shadow: 0px 0px 0px 15px rgba(255, 255, 255, 0.3);
    }
    footer {
        height: 800px;
    }
}
@media only screen and (max-width : 600px) {
    .holder {
        width: 90%;
    }
    section.where .flex-container {
        background-image: none;
    }
    section.where .btn {
        margin-top: 40px;
        margin-bottom: 40px;
        background-color: #fff;
        box-shadow: 0px 0px 0px 15px rgba(255, 255, 255, 0.5);
    }
    section.where .btn:hover {
        box-shadow: 0px 0px 0px 15px rgba(255, 255, 255, 0.3);
    }
    .atom {
        display: none;
    }
    section.volonter:after {
        height: 50px;
    }
    section.startup {
        padding: 50px 0;
    }
}
@media only screen and (max-width : 425px) {
    h1 {
        font-size: 27px;
    }
    section.relcoins {
        padding-bottom: 50px;
    }
    .btn {
        font-size: 20px;
    }
}

@media only screen and (max-width : 375px) {
    
}

@media only screen and (max-width : 320px) {
    
}
