
body{
  font-size: 22px;
}
p{
  font-size: 22px;
}

input {
  font-size: 32px;
  margin: 30px;
  display: block;
  width: 300px;
  border: none;
  border-bottom: 1px solid #ccc;
}

.qwe {
  transform:scale(3);
  opacity:0.9;
  cursor:pointer;
  }
  button{
   
    width:150px;
    height:50px;
    background: blue;
    font-family:'Algerian';
    font-size:30px;
    border-radius:20px;
    outline: none;
    margin-top:50px;
  margin-left:700px;
    
}
button:hover{
    cursor: pointer;
    background:lightblue;
}
canvas{
  border: 2px outset;
}