#wrap1{
	width: 200px;
	height: 200px;
	background: green;
}
#square{
	width: 100px;
	height: 100px;
	background: red;
	position:relative;
}


#style1
{
color:blue;
font-family:"Times New Roman";
}
#style2
{
font-weight:bold;
font-family:Verdana;
}
#style3
{
color:red;
font-size:20px;
}
#style4
{
color:green;
font-family:Arial;
font-size:25px;
}