canvas{
    border: 2px outset;
}
.wrapper{
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: space-between;
    text-align: center;
}
.flex-item{
    width:50%;
}
h1{
    text-align: center;
    font-size:46px;
    color:blue;
    font-family: "Algerian";
}
h2{
    text-align: center;
    font-size:36px;
    color:red;
    font-family: "AR Julian";
}
.list-items{
    list-style-type: none;
}
.list-items li{
    margin-bottom:20px;
}