html, body {width:100%; height:100%;}
html {position:relative;}
body {position:static; min-height:100%;}
body,form,p {margin:0; padding:0;} 
body,td,input,select,textarea {font-size:11px; color:#444; font-family:tahoma, helvetica, arial;}

hr {height:1px; border:solid #ccc; border-width:1px 0 0;}
.out {border-top:solid 1px white; border-bottom:solid #ccc;}
.inn {border-bottom:solid 1px white; border-top:solid #ccc;}
.out, .inn {height:0; border-width:1px 0; margin:3px 0;} 
.sprtr {margin:5px 0;}

.shdw {box-shadow:0 1px 3px #ccc; -moz-box-shadow:0 1px 3px #ccc; -webkit-box-shadow:0 1px 3px #ccc;}
.crnrsr {border:1px solid #ccc; border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;} 
.shdwtxt {text-shadow:0 1px white;}

a:link.redb  {color:red; font-weight:bold;}
a:hover.redb {color:blue; }
a:visited.redb {color:#A33300; font-weight:bold;}
a:visited:hover.redb {color:blue;}

.clr {clear:both;}
.red {color:red;}
.grn {color:green;}
.solid_ccc{border:solid 1px #ccc;}

.container {position:fixed; width:526px; top:50%; left:50%; margin:-150px 0 0 -263px;}
.title {height:14px; padding:3px 0 3px 5px; margin-bottom:5px;}
.container, .panel-l {background:url(bg.png);}
.container.removed {padding:30px;}
.container.removed p {text-align:center; color:red; margin:10px 0; font:bold 12px arial;}
.container.removed p a:hover {text-decoration:none;}

.dstruct, .btnsldr {float:right;}
.btnsldr {margin:-1px -7px 0 0; width:16px; height:16px; background-repeat:no-repeat; background-image:url(arrow_r.png);}
.btnsldr:hover {cursor:pointer;}
.dstruct.btns {margin:-1px 14px 0 0; font-size:10px; color:red; padding:1px; height:16px; width:74px;}

.panel-l {width:520px; float:left; padding:3px; min-height:180px;}
.panel-r, .panel-r-innr {float:right; height:100%;}
.panel-r {width:0;}
.panel-r-innr {width:130px; padding:3px;}

label {display:block; width:19%; float:left; padding:3px; text-align:right;}
input[type="text"] {width:58%; height:14px;}
input[type="text"], form textarea{padding:2px; margin-top:2px; border:solid 1px #ccc;}
textarea {width:78%; max-width:78%; min-height:14px; /*max-height:70px; */}
input[type="checkbox"]{position:relative; top:1px; border:solid 1px #ccc;}

form .btns {cursor:pointer;}
form .btns, form select, .selectbox {float:right; width:19%; height:21px;}
.selectbox {width:18%; margin:2px 3px 0 0;}
form textarea[name="excludes"]{width:124px; max-width:124px; min-height:143px; height:100%;}
form input[type="text"]:focus, form select:focus, form textarea:focus {background:#ffd;}
form input[type="submit"]{margin-top:2px;}

textarea[readonly="readonly"], textarea[readonly="readonly"]:focus {background:#f1f1f1;}

div.wrng { padding:3px 0; color:red; display:none;}
div.wrng b {display:block; width:20%; float:left; text-align:right; margin-right:5px;}

div.result {height:0;}
div.result .founds {position:relative; padding:10px;}

div.stsbar {height:26px;}
div.stsbar > div {padding:3px;}
div.stsbar div.progress {display:none; float:right; height:16px; position:relative; width:100px; border-radius:3px;}
div.stsbar div.progress div.bar {background-color:#B4F5B4; width:0%; height:16px; border-radius:3px;}
div.stsbar div.progress div.percent {position:relative; width:66px; text-align:center; margin:-14px auto 0;}
div.stsbar div.status {height:14px; padding:1px 0 1px 20px; background-position:0 0; background-repeat:no-repeat; }
div.stsbar div.status i {font-style:normal; /*display:block; min-width:16px; height:16px;*/}
.ok {background-image:url(done.png);}
.load {background-image:url(load.gif);}
.error {background-image:url(error.gif);}

.bggray{background:#e0e0e0 url(bggray.jpg) 0 0 repeat-x;}