.selectbox {vertical-align:middle; cursor:pointer;}
.selectbox .select {height:18px;padding:0 20px 0 5px;text-shadow:1px 1px #fff;border:1px solid #ccc;border-bottom-color:#b3b3b3; background:#fff;}
.selectbox .select:hover {background-color:#fefedc;}
.selectbox .select:active {background:#f5f5f5;}
.selectbox .select .text {display:block; white-space:nowrap; text-overflow:ellipsis; overflow:hidden; padding:3px 0; text-align:left;}
.selectbox .trigger{position:absolute;top:-1px;right:-3px;height:18px;width:20px;border:solid 1px #ccc;background:url(selbox.png) repeat-x;}
.selectbox .trigger .arrow {position:absolute; top:7px; right:5px; overflow:hidden; opacity:0.3; filter:alpha(opacity=30); 
border-left:5px solid transparent; border-right:5px solid transparent; border-top:5px solid #000;}
.selectbox:hover .arrow {opacity:1; filter:alpha(opacity=100);}
.selectbox .dropdown {width:175px; top:17px; margin:0; padding:4px 0; background:#fff; border:1px solid #ccc; border-radius:4px;}
.selectbox .dropdown ul {margin:0; padding:0; list-style:none;}
.selectbox li {height:14px!important; color:#231F20; font-weight:normal; padding:1px 3px;}
.selectbox li.selected {background:#f1f1f1; color:#333;}
.selectbox li:hover {background:#ddd; color:#444;}
.selectbox li.disabled {color:#aaa; }
.selectbox li.disabled:hover {background:none;}