@import url(https://fonts.googleapis.com/css?family=Courgette);

html {
  font-family: 'Courgette', cursive;
  color: black;
  margin: 0;
  height: 100%;
  background: white;
}

header {
  font-size: x-large;
  position: absolute;  
  margin: 3vmin;
}

.center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#result {
  position: absolute;
  display: none;
  font-family: monospace;
  font-size: x-large;
  color: black;
  background-color: rgba(15, 15, 15, 0.2);
  width: 100%;
  word-wrap: break-word;
  margin-top: 50px;
  margin-left: 0;
}

