#text1{
	margin: 0 auto;
	color: white;
	font-family: "AR JULIAN";
	font-style: normal;
}
.bottom{
	color: white;
	margin-top: 650px;
	font-family: "CANDARA";
	size: 20px;
	font-style: normal;
}
.bottom2{
	color: white;
	font-family: "CANDARA";
	size: 20px;
	font-style: normal;
}
.inform{
	color: white;
	font-family: "Century Gothic";
	size: 20px;
	font-style: normal;
}