<configuration>
 	<runtime>
 		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
 			<probing privatePath="Files" />
 		</assemblyBinding>
 		<dependentAssembly>
		<assemblyIdentity name ="Circle" publicKeyToken = "B77A5C561934E089"/>
		<bindingRedirect oldVersion="1.0.0.0" 
						 newVersion="2.0.0.0" />
	  </dependentAssembly>
 	</runtime>
</configuration>